<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asian.mike.perfak"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="asian.mike.perfak.MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="asian.mike.perfak.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="asian.mike.perfak.Register"
            android:label="@string/title_activity_register" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="asian.mike.perfak.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="asian.mike.perfak.gcm.GcmIntentService" />

        <activity
            android:name="asian.mike.perfak.ShowAllPhotos"
            android:label="@string/title_activity_show_photos" >
        </activity>
        <activity
            android:name="asian.mike.perfak.ShowProcessedPhotos"
            android:label="@string/title_activity_show_photos" >
        </activity>
        <activity
            android:name="asian.mike.perfak.custom.gallery.CustomGalleryActivity"
            android:label="@string/title_activity_custom_gallery" >
            <intent-filter>
                <action android:name="luminous.ACTION_PICK" />
                <action android:name="luminous.ACTION_MULTIPLE_PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="asian.mike.perfak.ProcessedImage"
            android:label="@string/title_activity_processed_image" >
        </activity>
        <activity
            android:name="asian.mike.perfak.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="asian.mike.perfak.FullScreenViewActivity"
            android:label="@string/title_activity_full_screen_view" >
        </activity>
        <activity
            android:name="asian.mike.perfak.custom.processed.gallery.ProcessedGalleryActivity"
            android:label="@string/title_activity_processed_gallery" >
            <intent-filter>
                <action android:name="luminous.ACTION_SHOW_PROCESSED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="asian.mike.perfak.custom.processed.gallery.ShowSingleProcessedImages"
            android:label="@string/title_activity_show_single_processed_images" >
            <intent-filter>
                <action android:name="luminous.SHOW_SINGLE_LIST_PROCESSED_IMAGES"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
